config.stopBubbling = true
lombok.accessors.chain = true
lombok.builder.classname = Builder
lombok.tostring.donotusegetters = true

lombok.addNullAnnotations = jspecify
lombok.copyJacksonAnnotationsToAccessors = true
lombok.copyableAnnotations += org.jspecify.annotations.NonNull
lombok.copyableAnnotations += org.jspecify.annotations.Nullable
lombok.copyableAnnotations += org.jspecify.annotations.NullMarked
lombok.copyableAnnotations += org.jspecify.annotations.NullUnmarked
