package ${model.packageName};

#set ($configClassName= ${model.name.replace("Blueprint", "")})

/// Refresh ${configClassName} configuration
///
/// @author ZY (kzou227@qq.com)
public class Refresh${configClassName} implements ${configClassName} {

    @lombok.experimental.Delegate
    private ${configClassName} delegate;

    public Refresh${configClassName}(io.helidon.config.Config config) {
        config.onChange(cc -> delegate = ${configClassName}.create(cc));
        delegate = ${configClassName}.create(config);
    }
}
